@use 'src/global';
.headerbg{
    .headerbgtop{
        background: url('../../assets/header-bg.png') no-repeat center 30% / cover !important;   
    }
    
    .toolbar-background{
        background: none !important;
    }
    img{
        width: 60%;
    }    
    .toolbar-title-default{
        padding-bottom: 13px;
        padding-top: 5px;
        background: none !important;
    }
}

ion-icon{
    color: #fff;
    font-size: 28px;
}

.messagenumber{
    background-color: #f6921e;
    width: 15px;
    height: 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 1px;
    border-radius: 3px;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 18px;
    transform: scale(0.85);
}

ion-menu-button{
    width: 50px;
    margin-left: 0;
}
 ion-menu-button img{
    width: 80%;
    margin-left: 5px;
 }

.profilecontent{
    display: inline-block;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    
    .avatar{
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        border: 8px solid rgba(255, 255, 255, 0.3);
        display: flex;
        
        .changeavatar {
            @include global.btnthemeorangeBg; 
                position: absolute;
                width: 25px;
                right: 6px;
                bottom: 12px;
                z-index: 2;
                border-radius: 50%;
                height: 25px;
                text-align: center;
                line-height: 30px;
                padding: 3px;

            
            img{
                @include global.btnthemeorangeBg; 
                width: 20px;
                text-align: center;
            }
            
        }
        
    }
    ion-img, img{
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
    }
    
    .username{
        color: #fff;
        font-size: 20px;
    }
    
    ion-note{
        margin-bottom: 0 !important;
        padding: 0;
        margin-left: 5px;
        padding: 0 !important;
    }
    ion-note p{
        color: #fff;
        font-size: 12px;
        line-height: normal;
        margin-top: 2px;
        
        ion-icon{
            margin-right: 3px;
            font-size: 11px;
        }
        
    }
}
