<style>
  /* Task box styling */
  .task-box:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  /* Task ID styling */
  .task-jobID {
    font-size: 12px;
    font-weight: 600;
  }

  /* Bubble container styling */
  .bubble-container {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap; /* Ensure bubbles wrap */
    gap: 5px; /* Space between bubbles */
  }

  /* Task date styling */
  .task-date {
    font-size: 11px;
    text-align: center;
    color: gray;
  }

  .task-box {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px; /* Less margin between task boxes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .task-label {
    font-size: 12px; /* Slightly smaller font */
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 8px; /* Compact padding */
    color: white;
  }

  /* Task label colors */
  .label-po {
    background-color: rgb(148, 92, 203); /* PO - Purple */
  }

  .label-do {
    background-color: rgb(86, 193, 255); /* DO - Blue */
  }

  .label-pu {
    background-color: rgb(253, 238, 149); /* PU - Yellow */
  }

  .label-del {
    background-color: rgb(85, 203, 107); /* DEL - Green */
  }

  .label-co {
    background-color: #E8D3D1; /* DEL - Green */
  }

  .label-pre {
    background-color: rgb(238, 150, 62); /* DEL - Green */
  }

  .row{
    margin-top:0 !important;
    margin-bottom:0 !important;
  }

  .bubble-content {
    font-weight: bold;
    background-color: lightgray;
    padding: 3px 8px; /* Reduced padding for smaller bubbles */
    border-radius: 5px;
    font-size: 10px; /* Adjusted font size for better readability in compact mode */
    display: inline-block;
    margin-top:0 !important;
    margin-bottom:0 !important;
  }

  .truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px; /* Adjust the width as per your layout */
    display: inline-block;
  }

  /* Button styling */
  ion-button {
    padding: 0px 10px;
    margin-top: 5px;
  }

  /* New styles to fix the div at the top */
  .fixed-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    padding-top: 5px;
    margin-top: 60px;
    background-color: white;
  }

  .ordelist {
    padding-top: 80px; /* Adjust this padding based on the height of the fixed bar */
  }
</style>

<app-common-header [pageSource]="'redeem-task'" [headerTitle]="'Redeem Task'"></app-common-header>

<ion-content class="ordelist">
  <div class="fixed-top-bar">
    <!-- Total cart display -->
    <div style="background-color: white; border-radius: 15px; padding: 5px 10px; width: 80%;">
      <ion-label>Total Cart: {{ total_cart }}</ion-label>
    </div>
    <!-- Cart button -->
    <div style="width: 20%;">
      <ion-button mode="ios" expand="block" (click)="getCartList()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- Searchbar and reset button -->
  <ion-col size="12">
    <div class="grnlist" style="margin-top: 50px;">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar [(ngModel)]="searchCustomerText" placeholder="Search Customer Name / State"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <button type="button" style="padding: 5px; margin-top: 10px; background-color: #3276b1; border-radius: 10px; color: white;"
                  (click)="searchCustomerText =''; selectedCustomer = ''">Reset</button>
        </ion-col>
      </ion-row>

      <!-- Customer Selection -->
      <h3 style="margin-top: 5px; margin-left: 12px; font-weight: 600;">Select a Customer</h3>
      <ion-select value="variation" interface="action-sheet" cancelText="Cancel" class="pickupselect"
                  [(ngModel)]="selectedCustomer" (ngModelChange)="getTaskList()">
        <ion-select-option *ngFor="let x of customerList | search: searchCustomerText"
                           value="{{x.customer_id}}">{{x.name}}
        </ion-select-option>
      </ion-select>
    </div>
  </ion-col>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Task list accordion -->
  <ion-accordion-group>
    <ion-accordion value="{{item.task_id}}{{i}}" class="ion-no-padding" *ngFor="let item of TaskList; let i = index;">
      <ion-item slot="header" class="ion-no-padding ion-no-margin" mode="ios" lines="none" style="margin-left: 15px;">
        <div class="status">{{item.customer_count}}</div>
        <ion-label>
          <ion-row class="productorderlist">
            <ion-col size="12" class="productdetail">
              <div>
                <h5 class="txt400">State: <span style="color: black;">{{item.state}}</span></h5>
                <h5 class="txt400">Total Customer: <span style="color: black;">{{item.customer_count}}</span></h5>
                <h5 class="txt400">Total Task: <span style="color: black;">{{item.task_count}}</span></h5>
              </div>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>

      <!-- Task list items -->
      <ion-list slot="content">
        <ion-item lines="none" style="border-top: 1px dashed #b4b4b4; margin: unset;">
          <ion-grid>
            <ion-row class="productorderlist">
              <ion-col size="12" class="productdetail" style="padding: 0;">
                <!-- Iterate through each customer -->
                <ng-container *ngFor="let customer of item.customer_list; let j = index;">
                  <!-- Task box for each customer item -->
                  <ion-list *ngFor="let item of customer.data; let k = index;" class="task-box" style="margin: 5px;" [style.background-color]="item.status != 0 ? '#FFCF2CFF !important' : ''">
                    <ion-col lines="none" (click)="getOrderList(item)" [style.background-color]="item.status != 0 ? '#FFCF2CFF !important' : ''">
                      <ion-grid [style.background-color]="item.status != 0 ? '#FFCF2CFF !important' : ''">
                        <ion-row class="align-items-center" [style.background-color]="item.status != 0 ? '#FFCF2CFF !important' : ''">
                          <!-- Task label column -->
                          <ion-col size="8" style="font-size: 12px;" [style.background-color]="item.status != 0 ? '#FFCF2CFF !important' : ''">
                            <ion-row class="align-items-center">
                              <!-- Job type labels -->
                              <ion-col size="4">
                                <ion-badge *ngIf="item.job_type == 3 && item.pre_order == 0" class="task-label label-po">PO</ion-badge>
                                <ion-badge *ngIf="item.job_type == 3 && item.pre_order == 1" class="task-label label-pre">PRE</ion-badge>
                                <ion-badge *ngIf="item.job_type == 2" class="task-label label-do">DO</ion-badge>
                                <ion-badge *ngIf="item.job_type == 4" class="task-label label-do">CO</ion-badge>
                                <ion-badge *ngIf="item.job_type == 0 && item.logistic_type == 0" class="task-label label-pu">PU</ion-badge>
                                <ion-badge *ngIf="item.job_type == 0 && item.logistic_type == 1" class="task-label label-del">DEL</ion-badge>
                              </ion-col>
                              <!-- Customer name -->
                              <ion-col size="8">
                                <div class="truncated-text">
                                  <b *ngIf="item.pre_order != 1">{{ customer.customer_name }}</b>
                                  <b *ngIf="item.job_type == 3 && item.pre_order == 1">{{ customer.customer_name }}-{{item.serial}}</b>
                                </div>
                              </ion-col>
                            </ion-row>
                          </ion-col>

                          <!-- XAU amount column -->
                          <ion-col size="4" class="ion-text-right" *ngIf="item.xau_outstanding && item.xau_outstanding != 0" style="font-size: 8px;">
                            <b>{{ item.xau_outstanding | number:'1.3-3' }} XAU</b>
                          </ion-col>
                        </ion-row>

                        <!-- Bubble content for internal remarks -->
                        <div class="bubble-container">
                            <div *ngIf="item.payment_method == 'Cash'" class="bubble-content">
                              <ion-label>💰</ion-label>
                            </div>
                            <!-- Display remarks -->
                            <div *ngIf="item.remarks && item.remarks != '-'" class="bubble-content">
                              <ion-label>{{item.remarks}}</ion-label>
                            </div>
                            <!-- Display internal remarks 
                            <div *ngFor="let bubble of item.internal_remark" class="bubble-content">-->
                            <div *ngIf="item.internal_remark && item.internal_remark != '-'" class="bubble-content">
                              <ion-label>{{item.internal_remark}}</ion-label>
                            </div>
                        </div>
                      </ion-grid>
                    </ion-col>
                  </ion-list>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>

  <div class="spacer" style="height: 40px"></div>
</ion-content>

<mytab></mytab>
