<app-common-header [pageSource]="'inbox'" [headerTitle]="'Inbox'"></app-common-header>
<ion-content>
  
  <!-- to iterate the inbox of this user, the ion-list support multiple line, no details, show all content in one page if inbox_list.length > 0 -->
  <ion-row class="ion-align-items-center">
    <ion-col size="10">
      <ion-item>
        <ion-label position="floating">Search by Title/Message</ion-label>
        <ion-input type="search" clearInput [(ngModel)]="filterText"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
        <ion-button mode="ios" *ngIf="configData.is_read == 1" (click)="changeStatus('unread')" expand="block"> Read </ion-button>
        <ion-button mode="ios" *ngIf="configData.is_read == 0" (click)="changeStatus('read')" expand="block"> Unread </ion-button>
    </ion-col>


    <ion-col size="12">
      <ion-item class="ion-no-padding ion-no-margin" mode="ios" lines="none" *ngFor="let keyValue of inbox_list| keyvalue" style="margin-bottom: 10px; border-radius: 5px;">
        <div class="input-wrapper" style="display:block; width: 100%;">
          <div class="productdetail">
            <ion-row>
              <ion-col size="10" (click)="set_current_tab(keyValue.value.key)">
                <h5 class="txt400" style="margin-top: 0;">
                  <div> 
                    <div style="font-size: 16px; padding-top: 20px; padding-bottom: 10px; margin-left: 20px;">{{keyValue.value.key}}</div>
                  </div>
                </h5> 
              </ion-col>
              <ion-col size="2" style="display: flex; align-items: center;" *ngIf="keyValue.value.value.is_read == 0">
                  <button
                    style="margin-top: 5px; color: white; background-color: green; font-weight: 500; width: 100%; border-radius: 5px; padding: 10px 5px 10px 5px; font-size: 12px;"
                    (click)="markAsRead(keyValue.value.key)">
                    Mark as Read
                  </button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="configData.current_tab == keyValue.value.key">
            <div class="push_box" *ngFor="let inbox of keyValue.value.value.inboxList|filter:{ title: filterText, message: filterText} : false;let i = index;">
              <ion-label>
                <h2>{{inbox.title}}</h2>
                <p class="push_content">{{inbox.message}}</p>
                <div *ngIf="inbox.pendingData && level === '1'" style="margin-top: 5px;">
                  <div *ngIf="inbox.pendingData.status === '0' && can_approve_inbox_job === '1'">
                    <button style="margin-right: 10px; background-color: green;
                    color: white;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 5px;" (click)="submit_now(inbox.pendingData,'accept')">Accept</button>
        
                    <button style="background-color: red;
                    color: white;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 5px;" (click)="submit_now(inbox.pendingData,'reject')">Reject</button>
                  </div>
                  <div *ngIf="inbox.pendingData.status === '1'" style="color: green;">
                    Accepted
                  </div>
                  <div *ngIf="inbox.pendingData.status === '2'" style="color: red;">
                    Rejected
                  </div>
                </div>
                
                <div *ngIf="inbox.POchangeRequest_status" style="margin-top: 5px;">
                  <div *ngIf="inbox.POchangeRequest_status === '1'" style="color: green;">Accepted</div>
                  <div *ngIf="inbox.POchangeRequest_status === '2'" style="color: red;">Rejected</div>
                </div>
        
                <div align="right">{{inbox.created_date}}</div>
                <div *ngIf="inbox.QCConfirmation" style="margin-top: 5px;">
                  <div *ngIf="inbox.QCConfirmation.status === '0'">
                    <button style="margin-right: 10px; background-color: green;
                    color: white;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 5px;" (click)="qc_confirmation_submit(inbox.QCConfirmation,'confirm')">Confirm</button>
          
                    <button style="background-color: red;
                    color: white;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 5px;" (click)="qc_confirmation_submit(inbox.QCConfirmation,'reject')">Reject</button>
                  </div>
                  <div *ngIf="inbox.QCConfirmation.status === '1'" style="color: green;">
                    Confirmed
                  </div>
                  <div *ngIf="inbox.QCConfirmation.status === '2'" style="color: red;">
                    Rejected
                  </div>
                  <div align="right">{{inbox.created_date}}</div>
                </div>
              </ion-label>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- if inbox_list is empty then show currently no message for you -->
  <div *ngIf="inbox_list.length == 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Currently no message for you</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
