<app-common-header
  [pageSource]="'service'"
  [headerTitle]="'Service'"
></app-common-header>
<ion-content class="ordelist">

    
    <ion-row class="detailinfor">
        <ion-col size="12">
             <h2 class="opensanLBold700 txtgreen-light">{{locationList.storefront_name}}</h2>
             <p>{{locationList.address}}</p>
        </ion-col> 
    </ion-row>

  <ion-item *ngFor="let x of serviceList" class="ion-no-padding" mode="ios" lines="none">  
        <ion-row class="productorderlist ">
            <ion-col size="3" class="ion-align-self-center">
                <img [src]="x.thumbnail" *ngIf="x.thumbnail">
                <img src="https://res.cloudinary.com/gargeon/image/upload/v1634738415/default_hwuzm2.png" *ngIf="!x.thumbnail">
            </ion-col>
            <ion-col size="9" class="productdetail ion-align-self-center" *ngIf="x.charging_logic=='landfill'">
                <h2>
                    {{x.bin_size+' '+x.bin_type}}
                </h2>
                <p>{{x.waste_type}}</p>
            </ion-col>
            <ion-col size="9" class="productdetail ion-align-self-center" *ngIf="x.charging_logic=='recycling'">
                <h2>
                    --
                </h2>
                <p>{{x.material_type+'/'+x.material_name}}</p>
            </ion-col>
            <ion-col size="12" class="productdetailinfor">
                <ion-row class="ion-align-items-center">
                    <ion-col size="5" style="padding-bottom:0;"><h3 class="title">Bin Quantity</h3></ion-col>
                    <ion-col size="7" style="padding-bottom:0;"><h3 class="desc">{{x.bin_qty==0?'-':x.bin_qty}}</h3></ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="5" style="padding-bottom:0;"><h3 class="title">Vendor</h3></ion-col>
                    <ion-col size="7" style="padding-bottom:0;"><h3 class="desc">{{x.hauler}}</h3></ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="5" style="padding-bottom:0;"><h3 class="title">Pickup Days</h3></ion-col>
                    <ion-col size="7" style="padding-bottom:0;"><h3 class="desc">{{x.service_frequency}} <span class="" *ngIf="x.pickup_days !==''"> - <span class="txtgreen-light days">{{x.pickup_days?x.pickup_days:''}}</span></span></h3></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="5" style="padding-bottom:0;"><h3 class="title">Service Remarks</h3></ion-col>
                    <ion-col size="7" style="padding-bottom:0;"><h3 class="desc">{{x.service_remarks?x.service_remarks:'-'}}</h3></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        
  </ion-item>    
    
  <ion-row style="width:100%;" *ngIf="has_service==0">
    <ion-col size="12" class="ion-text-center">
      <div class="noitemincart">
        <img src="../../assets/gg-icon/attention-icon.svg" style="width: 100px;">
        <h2 class="" style="color: #1A1A1A; font-weight: 600;">No any service</h2>
      </div>
    </ion-col>
  </ion-row>
    
  <!-- <ion-list> -->
  <!-- <ion-col size="4" style="padding: 5px;">
            <ion-item (click)="searchWishList()" lines="none" class="ion-no-padding">
            <img src="../../assets/add-icon.svg" style="margin-top: 2px; width: 100%;">
            </ion-item>   
        </ion-col>    -->

  <!-- </div> -->
  <div class="spacer" style="height: 40px"></div>
</ion-content>

<ion-row class="footerbtn">
    <ion-col size="6" class="ion-no-padding">
        <ion-button expand="block" [routerLink]="['/location']" class="servicebtn" mode="ios"><img src="../../assets/gg-icon/services-lorry-active.svg"/> Service</ion-button>
    </ion-col>
      
    <ion-col size="6" class="ion-no-padding">
      <ion-button expand="block" [routerLink]="['/request']" class="requestbtn"  mode="ios"><img src="../../assets/gg-icon/request.svg"/> Request</ion-button>
    </ion-col>
</ion-row>