<app-common-header [pageSource]="'tbc-detail'" [headerTitle]="'TBC Detail'">
</app-common-header>

<div vertical="top" slot="fixed" style="width: 100%; top: 53px; background: #ededed !important;" mode="ios">
    <div class="ion-padding-top">
        <div class="totalxauandgram">
            <ion-row style="width:100%;">
              <ion-col size="12" style="text-align: center">
                <h3>Customer: {{customerName }}</h3>
              </ion-col>
                <ion-col size="6" style="padding-right: 0; margin-right: -12px;">
                    <h3>Total XAU</h3>
                    <h2>
                        <span id="total_XAU_amount_desc" style="color:{{calculate_summary()['total_XAU']>=grnData.total_XAU?'green':'orange'}}">{{calculate_summary()['total_XAU']| number:'.3'}}</span>
                        /
                        <span id="">{{grnData.total_XAU | number:'.3'}}</span>

                        <ion-popover trigger="total_XAU_amount_desc" triggerAction="click">
                            <ng-template>
                              <ion-content class="ion-padding">Current Collection total XAU is: {{calculate_summary()['total_XAU']
                                | number:'.3'}}</ion-content>
                            </ng-template>
                        </ion-popover>

                    </h2>
                    <div id="moreless_desc" [class]="calculate_summary()['total_XAU'] > grnData.total_XAU ? 'diffmore' : 'diffless'"
                        *ngIf="calculate_summary()['total_XAU'] != grnData.total_XAU">
                        {{calculate_summary()['total_XAU'] - grnData.total_XAU | number: '.3'}}
                    </div>
                    <ion-popover trigger="moreless_desc" triggerAction="click">
                        <ng-template>
                          <ion-content *ngIf="calculate_summary()['total_XAU'] > customer_balance_XAU" class="ion-padding">You collect more than you required this round: {{calculate_summary()['total_XAU'] - customer_balance_XAU | number: '.3'}}</ion-content>
                          <ion-content *ngIf="calculate_summary()['total_XAU'] < customer_balance_XAU" class="ion-padding">You collect less than you required this round: {{calculate_summary()['total_XAU'] - customer_balance_XAU | number: '.3'}}</ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-col>

                <ion-col size="6" style="border-left:1px dotted #ccc; padding: 0px 0px 0px 12px;">
                    <div style="margin-bottom: 5px;">
                        <label class="checkbox-label">
                            <h2 id="tng_desc" style="display: flex; align-items: center;">
                                <ion-icon name="log-out-outline"></ion-icon>
                                <div> Take And Go</div>
                            </h2>
                        </label>
                        <ion-popover trigger="tng_desc" triggerAction="click">
                            <ng-template>
                                <ion-content class="ion-padding">Current GRN status is take and go.</ion-content>
                            </ng-template>
                        </ion-popover>
                    </div>

                    <div>
                        Bal: <span id="customer_balance_XAU_desc">{{customer_balance_XAU - calculate_summary()['total_XAU'] | number: '.3'}}</span>
                        <ion-popover trigger="customer_balance_XAU_desc" triggerAction="click">
                            <ng-template>
                                <ion-content class="ion-padding">The amount of Customer Balance XAU since opening balance is: {{customer_balance_XAU - calculate_summary()['total_XAU'] | number: '.3'}}</ion-content>
                            </ng-template>
                        </ion-popover>
                    </div>
                </ion-col>

            </ion-row>
        </div>
    </div>
</div>

<ion-content class="ordelist">
    <ion-grid>
        <div>
          <ion-row>
            <ion-col size="6">
              <h3 class="grntitle">Item List</h3>
            </ion-col>
            <ion-col size="6" *ngIf="userData.department == 1 && userData.department_level == 2">
              <ion-badge style="float: right;margin-bottom: 5px;" (click)="approveOrRejectTBC(1)" color="success" *ngIf="grnData.is_approved == 0"><span>Approve</span></ion-badge>
              <ion-badge style="float: right;margin-bottom: 5px;" (click)="approveOrRejectTBC(2)" color="danger" *ngIf="grnData.is_approved == 0"><span>Reject</span></ion-badge>
              <ion-badge style="float: right;margin-bottom: 5px;" color="success" *ngIf="grnData.is_approved == 1"><span>Approved</span></ion-badge>
              <ion-badge style="float: right;margin-bottom: 5px;" color="danger" *ngIf="grnData.is_approved == 2"><span>Reject</span></ion-badge>
            </ion-col>
            <ion-col size="6" *ngIf="userData.department != 1 && userData.department_level != 2">
              <ion-badge style="float: right;margin-bottom: 5px;" color="primary" *ngIf="grnData.is_approved == 0"><span>Waiting</span></ion-badge>
              <ion-badge style="float: right;margin-bottom: 5px;" color="success" *ngIf="grnData.is_approved == 1"><span>Approved</span></ion-badge>
              <ion-badge style="float: right;margin-bottom: 5px;" color="danger" *ngIf="grnData.is_approved == 2"><span>Rejected</span></ion-badge>
            </ion-col>
          </ion-row>

            <div *ngIf="grnData.is_approved == 0">
                <div style="padding:0px 20px">
                    <p *ngIf="!formData.detailList || formData.detailList.length==0">No Record Found.</p>
                </div>
                <table class="table" border="1" cellpadding="10" cellspacing="0" >
                    <thead>
                        <tr>
                          <th>ITEM</th>
                          <th>g</th>
                          <th>%</th>
                          <th>XAU</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of formData.detailList; let i = index ;">
                            <td [style.backgroundColor]="getWarehouseColor(item.warehouse_id)">{{item.gold_name}}</td>
                            <td>{{item.gram  | number :'.2'}}</td>
                            <td>{{item.gold_pure_percent}}</td>
                            <td>{{item.XAU_amount | number :'.3'}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>{{formData.total_gram | number: '.2'}}</th>
                            <th></th>
                            <th>{{formData.total_XAU | number: '.3'}}</th>
                        </tr>
                      </tfoot>
                </table>
            </div>
          <div *ngIf="grnData.is_approved == 1">
            <div style="padding:0px 20px">
              <p *ngIf="!formData.detailList || formData.detailList.length==0">No Record Found.</p>
            </div>
            <table class="table" border="1" cellpadding="10" cellspacing="0" >
              <thead>
              <tr>
                <th>ITEM</th>
                <th>g</th>
                <th>%</th>
                <th>XAU</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of formData.detailList; let i = index ;">
                <td [routerLink]="['/bullion-change-request/'+item.goods_received_note_detail_id]" [style.backgroundColor]="getWarehouseColor(item.warehouse_id)">{{item.gold_name}}</td>
                <td [routerLink]="['/bullion-change-request/'+item.goods_received_note_detail_id]">{{item.gram  | number :'.2'}}</td>
                <td [routerLink]="['/bullion-change-request/'+item.goods_received_note_detail_id]">{{item.gold_pure_percent}}</td>
                <td [routerLink]="['/bullion-change-request/'+item.goods_received_note_detail_id]">{{item.XAU_amount | number :'.3'}}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Total</th>
                <th>{{formData.total_gram | number: '.2'}}</th>
                <th></th>
                <th>{{formData.total_XAU | number: '.3'}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <div *ngIf="grnData.is_approved == 2">
            <div style="padding:0px 20px">
              <p *ngIf="!formData.detailList || formData.detailList.length==0">No Record Found.</p>
            </div>
            <table class="table" border="1" cellpadding="10" cellspacing="0" >
              <thead>
              <tr>
                <th>ITEM</th>
                <th>g</th>
                <th>%</th>
                <th>XAU</th>
                <th>Warehouse</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of grnDetailList; let i = index ;">
                <td [style.backgroundColor]="getWarehouseColor(item.warehouse_id)">{{item.gold_name}}</td>
                <td>{{item.weight  | number :'.2'}}</td>
                <td>{{item.gold_pure_percentage}}</td>
                <td>{{item.XAU | number :'.3'}}</td>
                <td>
                  <ion-select value="variation" interface="action-sheet" cancelText='Cancel' class="pickupselect"
                                 [(ngModel)]="item.warehouse_id">
                  <ion-select-option *ngFor="let x of warehouseList" value="{{x.warehouse_id}}">{{x.name}}
                  </ion-select-option>
                </ion-select>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Total</th>
                <th>{{formData.total_gram | number: '.2'}}</th>
                <th></th>
                <th>{{formData.total_XAU | number: '.3'}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <ion-item *ngIf="haveItemImages" class="ion-no-padding" mode="ios" lines="none">
            <ion-row class="productorderlist " style="width: 100%;">
                <ion-col size="12" class="productdetail ion-align-self-center">
                    <p><strong>Item Photos</strong></p>
                </ion-col>
                <ion-col size="12" class="productdetailinfor">
                    <!-- Item Image List::Start -->
                    <div *ngFor="let item of formData.detailList; let i = index;">
                        <ion-row *ngIf="item.MultipleImageUrl.length !== 0">
                            <div style="font-size: 15px; color: gray; font-weight: 600;">Image for {{item.gold_name}} ({{item.gold_pure_percent}}%)</div>
                            <ion-col size="12" >
                                <ion-slides pager="true" [options]="slideOpts">
                                    <!-- Item Image::Start -->
                                    <ion-slide class="item-slide" *ngFor="let x of item.MultipleImageUrl"><!-- List item images -->
                                        <div class="image-slide-content" [ngStyle]="{'border': item.showImage === x ? '3px solid red' : 'none'}">
                                            <img [src]="x.image" (click)="item.showImage = (item.showImage == ''? x : (item.showImage == x? '': x))" class="itemImage">
                                        </div>
                                        <button (click)="delete_img(0,x,i)" class="deleteImageBtn">x</button>
                                    </ion-slide>
                                    <!-- Item Image::End -->
                                </ion-slides>
                            </ion-col>
                            <ion-col size="12" class="ion-align-self-center" *ngIf="item.showImage">
                                <img [src]="item.showImage" style="width: 100%;" class="logoimg">
                                <button class="deleteImageBtn" (click)="delete_img(0,item.showImage,i)" style="font-size: 30px; border-radius: 50%; padding: 5px 8px; top: 5%; right: 3%;">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <!-- Item Image List::End -->
                </ion-col>
            </ion-row>
        </ion-item>

        <div style="width: 95%; margin: 0 auto;" *ngIf="grnData.type !== 'check' && grnData.is_approved != 2">
            <ion-button class="buttontheme-orange" mode="ios" (click)="view_GRN()" expand="block">View GRN</ion-button>
        </div>
      <div style="width: 95%; margin: 0 auto;" *ngIf="grnData.type !== 'check' && grnData.is_approved == 2">
        <ion-button class="buttontheme-orange" mode="ios" (click)="submitRejectedTBC()" expand="block">Confirm</ion-button>
      </div>
    </ion-grid>
</ion-content>
