<app-common-header [pageSource]="'profile'" (cusBackEvent)="backToPrev($event)"></app-common-header>

<ion-content class="specialcontent" appSwipe (swipeLeft)="onSwipeLeft($event)">
  <ion-row>
    <ion-col size="12">
      <h2 class="ion-padding-start opensanLBold700">Settings</h2>
    </ion-col>
    <ion-col size="12">
      <h2 class="ion-padding-start opensanLBold700" style="color: black">
        Notifications
      </h2>
    </ion-col>

    <ion-col size="12">
      <ion-row class="ion-padding-horizontal">
        <ion-col size="10"> New chat messages </ion-col>
        <ion-col size="2">
          <ion-toggle [(ngModel)]="chatNote" (ionChange)="resetNote('chat',$event)"></ion-toggle>
        </ion-col>

        <ion-col size="10"> Marketing and promotions </ion-col>
        <ion-col size="2">
          <ion-toggle [(ngModel)]="pushNote" (ionChange)="resetNote('push',$event)"></ion-toggle>
        </ion-col>

        <ion-col size="10"> New matched voucher </ion-col>
        <ion-col size="2">
          <ion-toggle [(ngModel)]="vouchNote" (ionChange)="resetNote('vouch',$event)"></ion-toggle>
        </ion-col>

        <ion-col size="10"> Email notification </ion-col>
        <ion-col size="2">
          <ion-toggle [(ngModel)]="mailNote" (ionChange)="resetEmailNote($event)"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-col>

    <br />

    <ion-col size="12">
      <h2 class="ion-padding-start opensanLBold700" style="color: black">
        Social Media
      </h2>
    </ion-col>

    <ion-col size="12">
      <ion-row class="ion-padding-start">
        <ion-col size="12"> <ion-icon name="logo-facebook" class="fbicon"></ion-icon> Link your Facebook Account </ion-col>
        <ion-col size="12" style="margin-top:5px"> <ion-icon name="logo-twitter" class="twicon"></ion-icon> Link your Twitter Account </ion-col>
        <ion-col size="12" style="margin-top:5px"> <ion-icon name="logo-google" class="googleicon"></ion-icon> Link your Google+ Account </ion-col>

      </ion-row>
    </ion-col>

    <br />

    <ion-col size="12">
      <h2 class="ion-padding-start opensanLBold700 ion-no-margin ion-margin-top" style="color: black">
        Contact Us
      </h2>
       <div class="ion-padding-start">
        <a href="mailto: support&#64;vouch.com.sg" class="mailto">support&#64;vouch.com.sg</a>
      </div>
    </ion-col>


  </ion-row>

  <div class="spacer" style="height: 80px"></div>
</ion-content>
<mytab></mytab>
