<app-common-header [pageSource]="'location'" [headerTitle]="'Pick Up'"></app-common-header>
<ion-content class="ordelist">

    
   
  <ion-item *ngFor="let x of riderList" class="ion-no-padding" mode="ios" lines="none">  
      <ion-row class="productorderlist">
        <ion-col size="12" class="productdetail">
          <h2  class="txt500">
            {{x.order_serial}}
          </h2>
            
          <h5 class="txt400">Order Date: {{x.order_date}}</h5>
          <h5 class="txt400">Ordered By: {{x.company_name?x.company_name + " (" + x.customer_text + ")" : x.customer_text}}</h5>

          <a (click)="details(x)" class="txtgreen-light">Details <ion-icon name="chevron-forward-outline"></ion-icon></a>
          <!-- <a [routerLink]="['/service',x.salesorder_id]" class="txtgreen-light">Details <ion-icon name="chevron-forward-outline"></ion-icon></a> -->
        </ion-col>
      </ion-row>
  </ion-item>    
    

    
<ion-row style="width:100%;" *ngIf="has_riderlist==0">
    <ion-col size="12" class="ion-text-center">
      <div class="noitemincart">
        <img src="../../assets/gg-icon/attention-icon.svg" style="width: 100px;">
        <h2 class="" style="color: #1A1A1A; font-weight: 600;">No any location</h2>
      </div>
    </ion-col>
  </ion-row>
    
  <!-- <ion-list> -->
  <!-- <ion-col size="4" style="padding: 5px;">
            <ion-item (click)="searchWishList()" lines="none" class="ion-no-padding">
            <img src="../../assets/add-icon.svg" style="margin-top: 2px; width: 100%;">
            </ion-item>   
        </ion-col>    -->

  <!-- </div> -->
  <div class="spacer" style="height: 40px"></div>
</ion-content>

<ion-row class="footerbtn">
    <ion-col size="6" class="ion-no-padding">
        <ion-button expand="block" [routerLink]="['/pickup']" class="servicebtn" mode="ios"><img src="../../assets/gg-icon/services-lorry-active.svg"/> Pick Up</ion-button>
    </ion-col>
      
    <ion-col size="6" class="ion-no-padding">
      <ion-button expand="block" [routerLink]="['/request']" class="requestbtn"  mode="ios"><img src="../../assets/gg-icon/request.svg"/> Delivery</ion-button>
    </ion-col>
</ion-row>