<app-common-header [pageSource]="'qc'" [headerTitle]="'QC List'"></app-common-header>

<ion-content class="ordelist ion-padding-top">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  

    
  <ion-accordion-group>
    <ion-accordion value="{{item.goods_received_note_id}}{{i}}" class="ion-no-padding" *ngFor="let item of QCList ; let i = index">
      <ion-item slot="header" class="ion-no-padding ion-no-margin" mode="ios" lines="none" style="margin-left: 15px;">
        <div class="status">{{item.status_name}}</div>
        <ion-label>
            <ion-row class="productorderlist">
                <ion-col size="12" class="productdetail">
                  <div>
                      <h5 class="txt400" style="margin-top: 0;">GRN No: 
                          <div>{{item.serial_no}}</div>
                      </h5>

                      <h5 class="txt400" style="margin-top: 0;">Name: 
                        <div>{{item.customerDetail.name}}</div>
                      </h5>

                      <h5 class="txt400">Agreed Price: <div> RM {{item.final_amount | number:'.2'}}</div></h5>
                  </div> 
              </ion-col>
          </ion-row>
          </ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item style="margin-left: 0 !important;margin-top: 0;border-top: 1px dashed #b4b4b4; margin-left: -5px !important;">
          <ion-row class="productorderlist">
            <ion-col size="12" class="productdetail" style="padding:0;">
              <div>
                  <ion-row style="padding:0;">
                
                      <ion-col size="6">
                          <h5 class="txt400">XAU: <div>{{item.total_XAU | number:'.3'}}</div></h5>
                      </ion-col>
                      <ion-col size="6">
                          <h5 class="txt400">Date Create: <div>{{item.created_date}}</div></h5>
                      </ion-col>
                      
                      <ion-col size="12">
                          <h5 class="txt400">Remarks: <div>{{item.remark}}</div></h5>
                      </ion-col>
                  </ion-row>
              </div> 
              
              <div class="buttonaction">  
                  <ion-row style="margin-left: -5px">
                      <ion-col size="4">
                          <ion-button class="pickupdetail"  [routerLink]="['/qc-detail/'+item.goods_received_note_id]">Detail </ion-button>
                      </ion-col>
                      
                      <ion-col size="2">
                        <a class="wazebtn" target="_blank" href="https://waze.com/ul?q={{item.customerDetail.address1}},{{item.customerDetail.address2}},{{item.customerDetail.city}},{{item.customerDetail.postcode}}"> <img src="../../assets/waze.png"></a>
                      </ion-col>
                      
                      <ion-col size="2">
                           <a class="googlemapbtn" target="_blank" href="http://maps.google.com/?q={{item.customerDetail.address1}},{{item.customerDetail.address2}},{{item.customerDetail.city}},{{item.customerDetail.postcode}}"><img src="../../assets/google-maps.png"></a>
                      </ion-col>
                      
                      <ion-col size="2">
                          <a class="whatsappbtn" target="_blank" href="https://api.whatsapp.com/send/?phone={{item.customerDetail.mobile}}&text=Dear+Valued+Customer%2C+RIDER+will+be+picking+up+your+shipment+within+30mins&app_absent=0"> <ion-icon name="logo-whatsapp"></ion-icon></a>
                      </ion-col>
                      
                      <ion-col size="2">
                           <a target="_blank" class="callbtn" href="tel:{{item.customerDetail.mobile}}"> <ion-icon name="call"></ion-icon></a>
                      </ion-col>
                  </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-accordion>
      
      
      
      
  </ion-accordion-group>
    
    
    
<!--
<ion-row style="width:100%;">
    <ion-col size="12" class="ion-text-center">
      <div class="noitemincart ion-margin-top">
        <img src="../../assets/gg-icon/attention-icon.svg" style="width: 100px;">
        <h2 class="" style="color: #1A1A1A; font-weight: 600;">No any location</h2>
      </div>
    </ion-col>
  </ion-row>
-->
    
  <!-- <ion-list> -->
  <!-- <ion-col size="4" style="padding: 5px;">
            <ion-item (click)="searchWishList()" lines="none" class="ion-no-padding">
            <img src="../../assets/add-icon.svg" style="margin-top: 2px; width: 100%;">
            </ion-item>   
        </ion-col>    -->

  <!-- </div> -->
  <div class="spacer" style="height: 40px"></div>
</ion-content>

<mytab></mytab>
