@use 'src/global';
h2{
    color: #eb008b;
    font-size: 20px;
}

.profiledetail, .verifyemail, .verifyPhone{
    
    ion-item::part(native){
        padding-right: 20px !important;
    }
    
    ion-item ion-label{
        font-size: 17px;
        margin-left: 15px;
        margin-bottom: 2px;
        color: #000;
        
        span{
            color: #009688 !important;
            margin-left: 2px;
        }
        ion-icon{
            vertical-align: middle;
            font-size: 23px;
            margin-left: 5px;
        }
    }
    
    ion-item ion-input{
        margin-bottom: 10px;
        border-radius: 10px;
        --ion-background-color: #fff;
        line-height: 30px;
        box-shadow: 0px 0px 5px #b5b5b5;
        margin-left: 5px;
        width: 97%;
        margin-right: 5px;
        padding-left: 0 !important;
        margin-top: 5px;
        --padding-start: 10px !important 
        
    }
    ion-item {
      --inner-padding-end: 0px;
    }
    a.verifylink{
       @include global.themeorangetxt;
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    
    h3{
       @include global.themeorangetxt;
    font-size: 18px;
    margin-bottom: 0 !important;
    }
    
    a.closeverifyemail{
        position: absolute;
        right: 20px;
        top: 21px;
        color: #777;
        font-size: 26px;
    }
    
    
    .accountinfor{
        border: 2px solid #E2E5EA;
        border-radius: 10px;
        margin-left: 18px;
        margin-right: 18px;
        padding: 18px 15px;
        background: #fff;
        
        h2{
            margin: 0;
            color: #92a2ce;
            font-weight: 500;
            font-size: 16px;
        }
        ion-input{
            height: 20px;
            padding: 0 !important;
            margin: 0 !important;
            color: #243a76;
            font-weight: 600;
            font-size: 17px;
        }
        
        .inputpassword ion-input{
            border: 1px solid #cfcfcf;
            height: 45px;
            border-radius: 5px;
            --padding-start: 10px;
            font-size: 15px;
        }
    }
    
    .strofrontdetail{
            margin-left: 18px;
            margin-right: 18px;
            padding: 20px 0;
        
        img{
            width: 100%;
        }
        
        h2{
            font-weight: 600;
            margin: 0;
            color: #1A1A1A;
            font-size: 18px;
        }
        
        p{
            margin: 0;
            color: #1A1A1A;
            font-size: 13px;
            font-weight: 500;
            margin-top: 5px;
        }
        
    }
    
    .buttontheme-orange{
        color: #fbd23c;
    }
    
    
}



.logoutbtnsection{
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 10px;
    
    ion-item {
        --inner-padding-end: 0px;
        --inner-padding-start: 0px;
        padding-inline-start: 0;
        --padding-start:0px;
        
        margin-left: 12px;
        margin-right: 12px;
        border: 2px solid #E2E5EA;
        border-radius: 10px;
        
        .item-native{
            --inner-padding-end: 0px;
            --inner-padding-start: 0px;
            padding-inline-start: 0;
        }
        ion-label{
            --inner-padding-end: 0px;
            --inner-padding-start: 0px;
            padding-inline-start: 0;
        }
    }
}

.footerbtn{
    background-color: #fff;
    
    ion-button{
        margin: 0;
        --border-radius: 0;
        --background: #fff;
        --background-hover: #fff;
        --background-activated: #fff;
        img{
            width: 24px;
            margin-right: 7px;
            margin-top: -1px;
        }
        
        &.servicebtn{
            color: #A7ACB6;
            border-bottom: 3px solid #ffffff;
            font-size: 17px;
            font-weight: 700;
            height: 60px;
        }

        &.requestbtn{
            color: #A7ACB6;
            border-bottom: 3px solid #ffffff;
            font-size: 17px;
            font-weight: 700;
            height: 60px;
        }
    }
}