/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"); */ /* Temporarily disabled for iOS debugging */

@import "~@ionic/angular/css/core.css";

/* iOS Safe Area Fix - 修复刘海遮挡问题 */
ion-header {
  padding-top: env(safe-area-inset-top);
}

/* 修复底部标签栏 */
ion-tab-bar {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.opensanLight300 {
	font-family: "Inter", sans-serif;
	font-weight: 300 !important;
}

.opensanLBold600 {
	font-family: "Inter", sans-serif;
	font-weight: 500 !important;
}

.opensanLBold700 {
	font-family: "Inter", sans-serif;
	font-weight: 700 !important;
}

.notosanssc400 {
	font-family: "Inter", sans-serif;
	font-weight: 400 !important;
}

.txtgreen-dark {
	color: #fbd23c !important;
}

.txtgreen-light {
	color: #1858a3 !important;
}

.txtgreen-normal {
	color: #f5841f !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ion-button,
p {
	font-family: "Inter", sans-serif !important;
	font-style: normal;
}

//这是有变数的，要用include来带 btnthemeorange()
@mixin btnthemeorange(
	$width: 100%,
	$font-size: 16px,
	$border-radius: 5px,
	$font-color: #fff
) {
	display: inline-block;
	border-radius: $border-radius !important;
	font-size: $font-size;
	color: $font-color;
	width: $width;
	--background: #243a76;
}

@mixin linkhreforange($font-size: 16px, $align, $font-color: #f6921e) {
	font-size: $font-size;
	color: $font-color;
	text-align: $align;
	text-decoration: none;
	display: block;
}

@mixin btnthemeorangeBg {
	background-color: #f6921e !important;
}

@mixin themeorangetxt {
	color: #f6921e !important;
	text-decoration: none !important;
}

.alertIcon {
	font-size: 3em;
}

.buttontheme-orange {
	@include btnthemeorange(100%);
}

.linkhreforange {
	@include linkhreforange(14px, center);
}

.alearboxclass {
	.alert-wrapper {
		img {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.alert-message {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
		}
		h2 {
			font-size: 18px;
			color: #fbd23c;
			margin-top: 10px;
			font-weight: bold;
			text-align: center;
		}

		p {
			color: #231f20;
			font-size: 14px;
			text-align: center;
		}

		p b {
			color: #f6921e;
			display: block;
		}

		.confirmbutton {
			margin-bottom: 30px;
			border: 0;
			background-color: #1858a3;
			margin-left: 30px;
			margin-right: 30px;
			color: #fff;
			border-radius: 10px;
			box-shadow: 0px 0px 5px #999;
			width: 100%;
		}

		.cancelbutton {
			margin-bottom: 5px;
			border: 0;
			background-color: red;
			margin-left: 30px;
			margin-right: 30px;
			color: #fff;
			border-radius: 10px;
			box-shadow: 0px 0px 5px #999;
			width: 100%;
		}

		.confirmbutton span {
			text-align: center !important;
			justify-content: center;
		}

		.colosebutton {
			margin-bottom: 10px;
			border: 0;
			background: none;
			color: #f6921e;
			margin-top: -25px;
			font-size: 15px;
			font-weight: 600;
		}

		.colosebutton span {
			text-align: center !important;
			justify-content: center;
		}
	}
}

.homepagesilder {
	ion-card {
		border-radius: 25px;
		box-shadow: 0px 0px 15px #ababab;
		margin-top: 20px;
	}
	.swiper-slide img {
		margin-bottom: -5px;
	}

	.swiper-pagination {
		bottom: 30px !important;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: #faaf40 !important;
	}
	.swiper-pagination-bullet {
		background-color: #e6e7e8 !important;
		opacity: 1;
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}
}

.customsearch {
	ion-searchbar ion-icon.searchbar-search-icon {
		right: 7px !important;
		left: auto !important;
		width: 45px !important;
		color: #fff !important;
		border-left: 1px solid #f6921e;
		height: 35px !important;
		margin-top: 5px;
		top: 0;
	}

	ion-searchbar button.searchbar-clear-button {
		right: 60px;
		color: #f6921e;
	}

	ion-searchbar button.searchbar-clear-button ion-icon {
		width: 30px;
	}

	ion-searchbar ion-icon.searchbar-search-icon:after {
		height: 30px;
		width: 30px;
		background: url("assets/search-icon.svg");
		content: "";
		position: absolute;
		z-index: 9;
		left: 11px;
		top: 2px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.searchbar-input-container {
		height: 45px;
	}

	.searchbar-input {
		background-color: #fff;
		box-shadow: 0px 0px 5px #b5b5b5;
		padding-left: 20px !important;
		padding-right: 0 !important;
		border: 0 !important;
		border-radius: 10px;
	}
	.searchbar-input::placeholder {
		color: #666666;
		font-family: "Inter", sans-serif;
		font-weight: 300;
	}
	ion-searchbar {
		height: 50px;
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 15px;
	}
}

ion-content {
	font-family: "Inter", sans-serif !important;
	position: relative !important;
	//    top: -10px !important;
	z-index: 10 !important;
	--background: #ededed !important;
	overflow: hidden;
}

ion-content.nomovingcontent {
	position: relative !important;
	top: 0 !important;
	z-index: 0 !important;
	background-color: #f5f6f8 !important;
	overflow: hidden;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

ion-content.loginPage.nomovingcontent.whitepage {
	--background: #fff !important;
}

ion-content.nomovingcontent.whitepage {
	--background: #ededed !important;
}
ion-content.whitepage {
	--background: #ededed !important;
}
.headerbgtop {
	ion-toolbar,
	.toolbar-background {
		--background: none !important;
		--border-width: 0 !important;
	}
}

.profileheader {
	padding-top: 0 !important;

	.closemenubtn {
		background: none;
		border: 0;
		font-size: 23px;
		position: absolute;
		top: 35px;
		right: 10px;
		font-weight: bolder;
		z-index: 9;
	}

	.vertxt {
		font-size: 9px;
		text-align: right;
		margin-right: 25px;
		color: #000;
		margin-top: 5px;
	}
}

.profileheaderbg {
	background: url("assets/profile-bg.png") no-repeat right bottom / cover;
	padding-top: 35px;
	padding-bottom: 5px;
	box-shadow: 1px 2px 5px #ccc;

	.avatar {
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		border: 8px solid rgba(255, 255, 255, 0.3);
	}
	ion-img,
	img {
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fff;
	}

	.username {
		color: #fff;
		font-size: 20px;
		margin-left: 5px;
	}

	ion-note {
		margin-bottom: 0 !important;
		padding: 0;
		margin-left: 5px;
		padding: 0 !important;
	}
	ion-note p {
		color: #fff;
		font-size: 12px;
		line-height: normal;
		margin-top: 2px;

		ion-icon {
			margin-right: 3px;
			font-size: 11px;
		}
	}
}

.menulist {
	margin-top: 15px;

	ion-item {
		margin-left: 25px;
		margin-right: 25px;
		border-bottom: 1px solid #e6e7e8;

		&.selected {
			color: #f6921e;
		}

		&:hover {
			color: #f6921e;
		}
	}
	ion-item::part(native) {
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: none;
	}

	ion-item img {
		width: 25px;
		margin-right: 15px;
	}

	ion-item.selected img.active {
		display: inline-block;
	}

	ion-item.selected img,
	ion-item img.active {
		display: none;
	}
}

app-common-voucher-detail-footer {
	width: 100%;
	margin-top: 30px;
}
.plt-android .confirmActionalearboxclass {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.colosebutton {
		order: 2;

		color: #f6921e;
		width: 100%;
	}

	.confirmbutton {
		order: 1;
	}
}
.plt-android {
	a.verifylink {
		font-size: 10px !important;
		top: 6px !important;
	}
}

.btnstatus {
	app-common-voucher-detail-footer {
		ion-button.buttontheme-orange {
			display: inline-block;
			--border-radius: 5px !important;
			font-size: 16px;
			color: #fff;
			width: 100%;
			--background: #f6921e;
			height: 50px;
			box-shadow: 0px 0px 5px #ccc;
		}
	}
}

.newlabel {
	background-color: #eb008b;
	color: #fff;
	position: absolute;
	font-size: 10px;
	padding: 8px 15px 0px 14px;
	transform: rotate(-45deg);
	top: -2px;
	left: -17px;
}

.customv2searhinput {
	.customv2searhinputarea {
		background: #fff;
		box-shadow: 0px 0px 5px #b5b5b5;
		margin-left: 12px;
		margin-right: 12px;
		height: 45px;
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 18px;
		border-radius: 10px;

		ion-input {
			text-indent: 0 !important;
			padding-left: 20px !important;
			font-size: 17px;
			height: 45px;
			input {
				padding-left: 0 !important;
			}
		}

		ion-input ::placeholder {
			color: #666666;
			font-family: "Inter", sans-serif;
			font-weight: 300;
			font-size: 17px;
		}

		.searchiconimg {
			height: 45px;
			display: inline-block;
			width: 100%;
			text-align: center;
			img {
				width: 42px;
				border-left: 1px solid #f6921e;
				padding-left: 11px;
				margin-right: 5px;
				padding-top: 0px;
				margin-top: 5px;
				display: inline-block;
				height: 35px;
			}
		}
	}
}

.footerbtn {
	border-top: 2px solid #edeeef;
}

@media (orientation: portrait) {
	ion-content {
		padding-top: constant(safe-area-inset-top); //ios 11.2
		padding-top: env(safe-area-inset-top); //ios 11.1
	}
}

// 扫描器样式
body.scanner-active {
	--background: transparent;
	--ion-background-color: transparent;
	background: transparent !important;
	
	ion-content,
	.ion-page,
	.content-ltr {
		--background: transparent;
		--ion-background-color: transparent;
	}

	ion-header,
	ion-toolbar,
	ion-footer,
	ion-content ion-list,
	ion-content ion-item,
	.spacer {
		display: none;
	}
}

#interactive.viewport {
	position: relative;
	width: 100%;
	height: 300px;
}

#interactive.viewport > canvas, 
#interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}

canvas.drawing, 
canvas.drawingBuffer {
	position: absolute;
	left: 0;
	top: 0;
}

/* 照片查看器模态框样式 */
.photo-viewer-modal {
	--background: rgba(0, 0, 0, 0.8);
	--width: 100%;
	--height: 100%;
	--border-radius: 0;
	
	ion-content {
		--background: transparent;
	}
	
	ion-header, ion-footer {
		--background: rgba(0, 0, 0, 0.5);
		--color: white;
	}
	
	ion-title, ion-button {
		color: white;
	}
}
