@use 'src/global';

.detailicon{
--color: #243a76;
    position: absolute;
    z-index: 5;
    right: 0;
    color: #243a76;
    top: 0;
    right: 0;
    font-size: 25px;
}
.ordelist{
    .productorderlist{
        width: 100%;
        
        .productdetail{
            
            img{
                width: 40px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
    ion-accordion{
        margin-bottom: 10px;
    }
    ion-item{
        margin-right: 5px !important;
        //background: #FFFFFF;
        border-radius: 12px;
        margin-top: 10px;
        --inner-padding-end: 0;
        margin-left: 18px;
        margin-right: 18px !important;
    
    
        h2{
            margin-top: 0;
            font-size: 15px;
            font-weight: 600;
            color: #243a76;
        }

        h5{
            margin-top: 13px;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
            color: #92a2ce;
            padding-left: 15px;
            
            div{
               color: #243a76;
               font-weight: 600;
               font-size: 17px;
            }
        }
        
    }

    
}

h3.title{
    margin-left: 18px;
    margin-top: 0;
    margin-bottom: -10px;
    font-weight: 600;
    font-size: 23px;
    color: #243a76;
    margin-top: 10px;
}

.footerbtn{
    background-color: #fff;
    
    ion-button{
        margin: 0;
        --border-radius: 0;
        --background: #fff;
        --background-hover: #fff;
        --background-activated: #fff;
        img{
            width: 24px;
            margin-right: 7px;
            margin-top: -1px;
        }
        
        &.servicebtn{
            color: #0B554C;
            border-bottom: 3px solid #0B554C;
            font-size: 17px;
            font-weight: 700;
            height: 60px;
        }

        &.camerabtn{
            color: #A7ACB6;
            border-bottom: 3px solid #ffffff;
            font-size: 30px;
            font-weight: 700;
            height: 60px;
        }

        &.requestbtn{
            color: #A7ACB6;
            border-bottom: 3px solid #ffffff;
            font-size: 17px;
            font-weight: 700;
            height: 60px;
        }
    }
}

.arangebutton{
        margin-left: 12px;
    margin-right: 12px;
    --background: #243a76;
    color: #f6cf3c;
        font-size: 18px;
    
    .code-working-outline{
        transform: rotate(90deg);
        font-size: 24px;
        margin-left: 5px;
        font-size: 20px;
    }
}
